body {
    padding-top: 50px;
    height:100%;
    overflow: hidden;
}

.main {
    padding: 40px 15px;
    text-align: center;
}

h1 {
    font-size: 350%;
}


#video_url {
    width: 40%;
	margin: 0 auto;
	text-align: center;
}

.scrollbar {
    position: fixed;
    top: 25%;
    bottom: 0;
    right: 10%;
    width: 45%;
    overflow-y: auto;
}

.progress {
    text-align:center;
    height: 40px;
}

#progress_val {
    color: black;
    font-size:150%;
    line-height: 39px;
    background-color: transparent;
    position:absolute;
    right:0;
    left:0;
}

#bgimg {
    height:800px;
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: scale(1.02);

    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.container {
    color: white;
}

#video {
    left: 40px;
}

#video_url {
    color: black;
}

.video_header {
    position: relative;
}