<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Nan Wang">
    <link rel="icon" href="../../favicon.ico">

    <title>MusiCon</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug >
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/c3.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MusiCon</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="https://docs.google.com/presentation/d/1P1YWrLs-WSJUmc0G5vuO4bz6ejw0UXQEoHxI_P2GikU/edit?usp=sharing">Slides</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<br><br>

<div id="bgimg"></div>

<div class="container content" id="input_control">
    <br>
    <div class="container" style="text-align: center">
        <h1>MusiCon</h1>
        <h4>Extract music clips out of a YouTube video</h4>
    </div>
    <br><br>

    <div class = "container" style="text-align: center">
        <div class="form-group">
            <label for="video_url">Link to the YouTube music video:</label>
            <br>
            <input type="text" id="video_url" name='video_url'
                   placeholder="e.g. https://www.youtube.com/watch?v=mrU6e6kvFR8"
                   required autofocus value="https://www.youtube.com/watch?v=3qIQzvmtBBw">
        </div>

        <div>
            <button class="btn btn-primary btn-lg" id="gobtn">Go!</button>
        </div>
    </div>
</div><!-- /.container -->

<div class="container" id="video">
    <div class="video_header" style="text-align: center">
        <h2>Here are the music clips</h2>
    </div>

    <hr class="video_header" style="background:#eeeeee; border:0; height:2px" />

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="text-align: center">
                <div id="status">
                    <h4>Processing video...</h4>
                </div>

                <div class="progress">
                    <span id="progress_val">00:00:00</span>
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="progress_bar">
                    </div>
                </div>

                <button class="btn btn-info btn-sm" id="stopbtn">Stop processing</button>
                <button class="btn btn-info btn-sm" id="goback">Back</button>

                <br>
                <br>

                <div id="video_title">
                    <!--title added using js-->
                </div>


                <div id="chart">
                </div>

            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-6 scrollbar" id="clips">
                <!--clips added using js-->
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/d3.min.js" charset="utf-8"></script>
<script src="static/js/c3.min.js"></script>

</body>
</html>
