{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="starter-template">
        <h1>A shiny name here</h1>
        <p class="lead">Description.</p>
    </div>

    <div class="starter-template">
        <h3>input here</h3>
    </div>

    <div class = "container">
        <form  action="/output" method="GET">
          <div class="form-group">
            <label for="video_url">URL to the YouTube video:</label>
            <input type="text" id="video_url" name='video_url' placeholder="e.g. https://www.youtube.com/watch?v=T1pijyA4WZs">
          </div>

          <div>
            <button type="submit" class="btn btn-default btn-lg">Go!</button>
          </div>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</div><!-- /.container -->
{% endblock %}
